<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <style>
            .active-button {
                box-shadow: 1px 2px 5px 5px rgba(40,167,69,1);
            }

            .demo2 .regular-checkbox {
                background-color: #cc9e5d;
            }

            .demo2 label {
                display: inline;
            }

            .demo2 .regular-checkbox {
                display: none;
            }

            .demo2 .regular-checkbox + label {
                background-color: #cc9e5d;
                border: 1px solid #cacece;
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
                padding: 9px;
                border-radius: 3px;
                display: inline-block;
                position: relative;
            }

            .demo2 .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
            }

            .demo2 .regular-checkbox:checked + label {
                background-color: #cc9e5d;
                border: 1px solid #adb8c0;
                color: #000;
            }

            .demo2 .regular-checkbox:checked + label:after {
                content: attr(data-after);
                font-size: 10px;
                position: absolute;
                top: 0px;
                left: 3px;
                color: #fff;
            }


            .demo2 .big-checkbox + label {
                padding: 18px;
            }

            .demo2 .big-checkbox:checked + label:after {
                font-size: 28px;
                left: 6px;
            }

            /* added newly for select box */
            .demo2{
                overflow: hidden;
            }

            .box{
                /*float: left;*/
                width: 160px;
            }


            .select-number{
                display: none;
            }
            ul.select-number{
                overflow: hidden;
                margin: 0;
                list-style: none;
                color: #fff;
                width:100px;
            }

            ul.select-number li{
                background-color: #cc9e5d;
                border: 1px solid #adb8c0;
                padding: 5px 10px;
            }
            ul.select-number li:hover{
                background-color: #cc9eed;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% block top_menu %}
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <a class="navbar-brand" href="#">Room Service Group</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Post <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Room status</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Daily log</a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="{{ path('fos_user_security_logout') }}">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    {% endblock %}
                </div>
            </div>

            {% block content %}

            {% endblock %}

        </div>
        {% block javascripts %}
            <script src="/js/jquery.js"></script>
        {% endblock %}
    </body>
</html>
